@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Karla:400');

body{
  margin:0%;
  padding:0%
  width:100%;
}

h1{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color:#0251c0;
}
h1{
  margin-top:1%;
  font-size:50px;
}

/*navigationBar links change colour when hovered over and clicked*/
a{
  color:#545357;
}
a:hover{
  color:#0251c0;
}


/*navigationBar all in line*/
li{
  font-family: 'Karla', sans-serif;
  display:inline;
  padding:1%;
}

#navigationBar-contactMe{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #6189c0;
  margin:0%;
  padding:0%;
  height:5%;
}

/*footer*/


#ContactMeFooter{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:10%;
  background-color: #6189c0;

}

#contactLink,#homeLink{
  font-family: 'Karla', sans-serif;
  font-size: 12px;
  text-align: left;
  padding:0%;
  padding-left:1%;
  margin-top: 0%;
  margin-bottom:1%;
}
#contactLink{
  padding-top:0%;
}
#homeLink{
  margin-bottom:0%;
}

#contactMeFooterLinks{
  display:grid;
  padding:0%;
  position:relative;
}

/*icons*/
i{
  color:#545357;
}
