body{
  margin:0%;
  padding:0%
  width:100%;

}

h1{
  text-align: center;
  font-family:cursive;
  color:#0251c0;
}

/*navigationBar links change colour when hovered over and clicked*/
a{
  color:#545357;
}
a:hover{
  color:#0251c0;
}

/*navigationBar all in line*/
li{
  font-family:cursive;
  display:inline;
  padding:1%;
}

#navigationBar-projects{
  width:100%;
  background-color: #6189c0;
}

/*footer*/


#projectFooter{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:10%;
  background-color: #6189c0;

}

#contactLink,#homeLink{
  font-family:cursive;
  font-size: 12px;
  text-align: left;
  padding:0%;
  padding-left:1%;

}
#contactLink{
  padding-top:0.5%;
}

#footerLinks{
  display:grid;
  padding:0%;
  position:relative;
}
